<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RehatCoffee"
        tools:targetApi="31">
        <activity
            android:name=".presentation.admin.orderan.OrderAdminConfirmActivity"
            android:exported="false"
            android:theme="@style/Theme.NTT.Dialog"/>
        <activity
            android:name=".presentation.admin.create.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.admin.menu.AdminFoodActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.admin.menu.AdminDrinkActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.admin.create.CreateMenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.admin.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.admin.orderan.ListOrderActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.admin.dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.order.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.cart.EditCartActivity"
            android:exported="false"
            android:theme="@style/Theme.NTT.Dialog" />
        <activity
            android:name=".presentation.splash.CustomSplashActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.menu.food.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.menu.drink.DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.started.GetStartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>